*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#140019;
  color:white;
}

/* HEADER */

header{
  width:100%;
  padding:18px 7%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  background:rgba(20,0,25,0.85);
  backdrop-filter:blur(12px);
  z-index:1000;
  border-bottom:1px solid rgba(255,0,255,0.1);
}

.logo{
  font-size:34px;
  font-weight:bold;
  color:#d946ef;
  text-shadow:0 0 15px #d946ef;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:25px;
  font-size:17px;
  transition:0.3s;
}

nav a:hover{
  color:#d946ef;
}

/* SECTIONS */

section{
  min-height:auto;
  padding:160px 10% 120px;
}

/* HERO */

.hero{
  padding-top:230px;
  padding-bottom:170px;
}

.hero h1{
  font-size:95px;
  margin-bottom:35px;
  line-height:1.2;
}

.hero p{
  font-size:28px;
  max-width:850px;
  line-height:2;
}

/* CARDS */

.about,
.projects,
.contact{
  background:#1f0829;
  border-radius:25px;
  padding:70px;
  border:1px solid rgba(255,0,255,0.1);
  box-shadow:0 0 25px rgba(0,0,0,0.3);
}

/* TITLES */

h2{
  font-size:58px;
  margin-bottom:45px;
}

/* ABOUT */

.about p{
  font-size:24px;
  line-height:2;
}

/* PROJECTS */

.projects-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:35px;
  margin-top:35px;
}

.project-card{
  padding:45px;
}

.project-card h3{
  font-size:32px;
  margin-bottom:20px;
}

.project-card p{
  font-size:20px;
  line-height:1.8;
}

/* CONTACT */

.contact input,
.contact textarea{
  padding:22px;
  margin-top:22px;
  font-size:18px;
}

.btn{
  margin-top:45px;
  width:260px;
  padding:20px;
  font-size:22px;
}

/* FOOTER */

footer{
  text-align:center;
  padding:30px;
  background:#0d0012;
  color:#aaa;
  font-size:17px;
}

/* ADMIN */

.admin-btn{
  position:fixed;
  bottom:18px;
  right:20px;
  color:#888;
  font-size:14px;
  cursor:pointer;
  opacity:0.5;
  transition:0.3s;
}

.admin-btn:hover{
  opacity:1;
  color:#d946ef;
}

/* MOBILE */

@media(max-width:768px){

  .hero h1{
    font-size:55px;
  }

  .hero p{
    font-size:19px;
  }

  nav{
    display:none;
  }

  h2{
    font-size:38px;
  }

}
